<hr class="sm:hidden" />
<div
	class="bg-dark-2 shadow-inner rounded-xl max-w-sm flex items-center justify-center drop-shadow mt-2 sm:mt-0"
>
	<img
		[src]="'https://d1fxy698ilbz6u.cloudfront.net/static/' + resource.image"
		[alt]="resource.name"
	/>
</div>

<h3 class="font-medium text-xl text-white mt-4 text-center sm:hidden">
	{{ resource.name }}
</h3>

<div class="mt-3 bg-dark-2 p-3 space-y-2 sm:mt-0 rounded-xl">
	<app-resource-info-field label="Produced By">
		{{ this.buildingName$ | async }}
	</app-resource-info-field>

	<app-resource-info-field label="Production">
		{{ production.toFixed(3) }}
	</app-resource-info-field>

	<app-resource-info-field label="Needed For">
		<div class="item-wrapper">
			<img
				[title]="item.name"
				*ngFor="let item of requiredFor$ | async"
				[src]="'https://d1fxy698ilbz6u.cloudfront.net/static/' + item.image"
				[alt]="item.name"
			/>
		</div>
	</app-resource-info-field>

	<ng-container *ngIf="(producedFrom$ | async)?.length">
		<app-resource-info-field label="Produced From">
			<div class="item-wrapper">
				<img
					[title]="item.amount.toString() + 'x ' + item.resource.name"
					*ngFor="let item of producedFrom$ | async"
					[src]="
						'https://d1fxy698ilbz6u.cloudfront.net/static/' +
						item.resource.image
					"
					[alt]="item.resource.name"
				/>
			</div>
		</app-resource-info-field>
	</ng-container>

	<app-resource-info-field label="Unit Admin Cost">
		{{ (adminCost / production).toFixed(2) }}
	</app-resource-info-field>

	<app-resource-info-field label="Unit Worker Cost">
		{{ (labourCost / resource.produced_an_hour).toFixed(2) }}
	</app-resource-info-field>
</div>

<div class="mt-3 bg-dark-2 p-3 space-y-2 sm:mt-0 rounded-xl">
	<section>
		<label class="item-label">Production Bonus</label>
		<div class="mt-2 flex">
			<button class="icon" (click)="productionBonus = productionBonus + 1">
				+
			</button>
			<input
				type="number"
				min="0"
				max="100"
				[value]="productionBonus"
				(change)="productionBonus = $any($event.target).value"
				class="flex-1 text-center bg-transparent border-none icon hover:bg-white hover:bg-opacity-5"
			/>
			<button class="icon" (click)="productionBonus = productionBonus - 1">
				-
			</button>
		</div>
	</section>

	<section>
		<label class="item-label">Building Level</label>
		<div class="mt-2 flex">
			<button class="icon" (click)="buildingLevel = buildingLevel + 1">
				+
			</button>
			<input
				type="number"
				min="0"
				max="100"
				[value]="buildingLevel"
				(change)="buildingLevel = $any($event.target).value"
				class="flex-1 text-center bg-transparent border-none icon hover:bg-white hover:bg-opacity-5"
			/>
			<button
				class="icon"
				(click)="
					buildingLevel =
						buildingLevel - 1 === 0 ? buildingLevel : buildingLevel - 1
				"
			>
				-
			</button>
		</div>
	</section>

	<section>
		<label class="item-label">Admin</label>
		<div class="mt-2 flex">
			<button class="icon" (click)="admin = admin + 1">+</button>
			<input
				type="number"
				min="0"
				max="100"
				[value]="admin.toFixed(2)"
				(change)="admin = $any($event.target).value"
				class="flex-1 text-center bg-transparent border-none icon hover:bg-white hover:bg-opacity-5"
			/>
			<button
				class="icon"
				(click)="admin = admin - 1 === 0 ? admin : admin - 1"
			>
				-
			</button>
		</div>
	</section>

	<app-resource-info-modifier
		label="Production Bonus"
	></app-resource-info-modifier>
</div>
