<section
	class="font-poppins font-light grid gap-2 mt-16"
	style="grid-template-columns: auto 400px"
>
	<section>
		<ng-container *ngIf="resource$ | async as resource">
			<h4 class="text-4xl font-black font-poppins text-blue-800">
				{{ resource.name }}

				<img
					[src]="
						'https://d1fxy698ilbz6u.cloudfront.net/static/' + resource.image
					"
					[alt]="resource.name"
				/>
			</h4>
		</ng-container>
	</section>

	<section
		class="border rounded-lg shadow-inner h-full p-2 grid grid-cols-4"
		style="gap: 1rem"
	>
		<app-resource-item
			*ngFor="let resource of resources$ | async"
			[resource]="resource"
			(select)="resourceId$.emit($event.db_letter.toString())"
		></app-resource-item>
	</section>
</section>
