:host {
	@apply block relative p-4 bg-gradient-to-bl from-purple-500 to-indigo-500;
}

ul {
	color: rgb(97, 97, 97);
}

li {
	@apply font-poppins font-medium text-white;
	transition: all 100ms ease-out;

	a {
		@apply flex items-center gap-2 p-4;
	}

	&:hover {
		@apply text-gray-600 bg-slate-100 rounded-sm;
		transition: all 200ms ease-in;
	}
}
