<div
	class="bg-dark-2 text-light-2 items-center relative rounded-2xl"
	[ngClass]="{
		'rounded-bl-none rounded-br-none': dropdown.isOpen
	}"
	#dropdownWrapper
>
	<!-- search box -->
	<div class="flex px-5 py-2">
		<div class="mr-3 flex items-center"><i class="bx bx-search"></i></div>

		<div class="flex-1">
			<ng-content select="input"></ng-content>
			<input
				(focus)="dropdown.toggle(true)"
				[value]="(selectEventEmitter | async) ? labelCb(selected) : ''"
				type="text"
				name="name"
				id="name"
				(input)="onValueChangeHandler($event)"
				placeholder="Search..."
				autocomplete="off"
				class="w-full block bg-transparent outline-none text-light-1 placeholder:text-light-2"
			/>
		</div>
	</div>

	<!-- list -->
	<div
		class="bg-dark-2 border-t border-t-dark-1 absolute w-full rounded-bl-2xl rounded-br-2xl max-h-60 overflow-y-auto"
		[hidden]="!dropdown.isOpen"
	>
		<ul class="mx-10 space-y-1 my-3">
			<ng-container *ngFor="let item of filtered">
				<li
					class="cursor-pointer hover:bg-zinc-900 px-2 rounded-sm"
					(click)="onItemSelectHandler(item); $event.stopPropagation()"
				>
					{{ labelCb(item) }}
				</li>
			</ng-container>
		</ul>
	</div>
</div>
